WEBHOOK_URL=https://discord.com/api/webhooks/1494407702376484906/7L_VIsqQMztzgCZA0msUh0RYOaTWgZ4YNq58IB8n9rHzH8GgAb2vxXwAlKRsIvucwcJE
MC_HOST=gs.goblinslair.uk
MC_PORT=25566
SERVER_NAME=A Silly Minecraft Server - GoblinsLairUK
